<div class="row">
    {{#each images }}
    <div class="col s12 m4">
        <div class="card">
            <div class="materialboxed">
                <img src="{{ this.src }}">
                <span class="card-title">{{ this.title }}</span>
            </div>
            <div class="card-content">
                <p>{{ this.desc }}</p>
            </div>
        </div>
    </div>
    {{/each }}
</div>
